.backdrop {
		/*background-image: url("http://play.pokemonshowdown.com/fx/bg-thunderplains.png") !important; */
	/*background-image: url(http://imgur.com/PzhpkRT.png) !important;*/
		background: #505050 !important; 
	opacity: 1 !important;
}
.leftbar {
	background-color: rgba(0, 0, 0, 0.1) !important;
	border-right: 1px solid rgba(255, 255, 255, 0.8);
	opacity: 1 !important;
	color: white !important;
}
.rightbar {
	background-color: rgba(0, 0, 0, 0.1) !important;
	border-left: 1px solid rgba(255, 255, 255, 0.8);
	opacity: 1 !important;
	color: white !important;
}
@font-face {
	font-family: Twitchmon;
	src: url(https://glcdn.githack.com/tripplyons/cdn/raw/master/HabboSlightTouch.ttf);
}
.battle {
	font-family: Twitchmon;
	font-style: normal;
	font-size: 24px;
}
.trainer strong,
.battle strong,
.foehint strong,
.message span,
.message p,
.message small,
.whatdo,
.controls,
button[name="selectMove"],
button[name="selectSwitch"],
button[name="undoChoice"],
.battle small {
	font-family: Twitchmon;
	font-size: 24px !important;
	font-style: normal;
}
small {
   font-size:inherit;
}
.moveselect button, .switchselect button, .shiftselect button {
	background: white !important;
}
.psn, .brn, .par, .frz, .slp {
	font-size: 16px !important;
}
.controls, .message {
	background: rgba(0,0,0,0.5) !important;
}
.hptext {
	color: white !important;
}
.timerbutton,
.battle em,
button[name="chooseMove"],
.button,
.battle button {
	font-family: Twitchmon;
	font-size: 16px !important;
	font-style: normal;
}
.statbar span {
	font-family: Twitchmon;
	padding: 0px 4px;
}
.battle-nickname-foe,
.battle-nickname {
	font-family: Twitchmon;
	font-size: 24px !important;
	font-style: normal;
}
.good,
.bad {
	font-family: Twitchmon;
	font-size: 16px !important;
}
.trainer {
	opacity: 1 !important;
}
.trainersprite {
	opacity: 1 !important;
}
.teamIcons {
	opacity: 1 !important;
}
.hptext {
	font-family: Twitchmon;
	font-size: 16px !important;
}